<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aob.aobsalesman">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".activities.utility.Myapp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.activities.FAQActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".activities.activities.NotificationsActivity"/>
        <activity android:name=".activities.activities.VideoPlayerActivity" />
        <activity
            android:name=".activities.activities.ForgotPasswordVerification"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity
            android:name=".activities.activities.ForgotPasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.MySaleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.ViewerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.ActivitySalesLead"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.ActivityRegisterLead"
            android:configChanges="keyboard|keyboardHidden|locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.ActivityFilter"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.MyKYCActivity"
            android:configChanges="keyboard|keyboardHidden|locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.ProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.LeadActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.PrivacyPolicyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.TransactionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.AppliedDescriptionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.NewRegistrationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.KYCActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.ProjectDescriptionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.VerificationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="AOB Salesman"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.activities.RegistrationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.activities.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".activities.utility.ShareData"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name=".activities.GenericFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".activities.Services.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorlabel" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAI7t15Q_yomT5801Kbv4qGPHnK9nuUd0g" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>